.idea
CMakeLists.txt
*.lo
.libs
autom4te.cache
build
include
modules
.deps
*.nice
*.log
config.h
config.h.in
install-sh
libtool
*.sh
Makefile*
missing
mkinstalldirs
run-tests.php
*.la
acinclude.m4
aclocal.m4
config.guess
config.status
config.sub
configure
configure.in
test_root
