.idea
CMakeLists.txt
*.lo
.libs
autom4te.cache
build
include
modules
.deps
*.nice
*.log
confih.h
config.h.in
install-sh
libtool
*.sh
Makefile*
missing
mkinstalldirs
run-tests.php
*.la
acinclude.m4
aclocal.m4

